@import "bux/common/styles/layout";

.container {
  .layout-container;
  width: calc(100vw - 40px);

  @media (min-width:@tablet) {
    margin: 0 auto 32px;
    width: fit-content;
    max-width: 960px;
    padding: 0 20px;
  }

  .content {
    width: 100%;
    max-width: 100%;

    @media (min-width:@tablet) {
      width: fit-content;
      min-width: @tablet;
    }
  }
}
