@import "bux/common/styles/colors";
@import "bux/common/styles/spacing";
@import "bux/common/styles/layout";

.title {
  font-size: 1.5em;
}

.subtitle {
  color: @detailColor;
}

.formContent {
  width: auto;

  @media (min-width:@tablet) {
    width: 400px;
  }
}

.form {
  .add-medium-vertical-spacing;
}

.section + .section {
  margin-top: 40px;
}

.section h2 {
  font-size: 21px;
}

.paymentBlock {
  .ak-block-soft;
  padding-top: 0;
  margin-left: -20px;
}

.creditCard {
  margin-left: -16px;
}

.creditCardErrorRetryButton {
  margin-bottom: 3em;
}
