@import "bux/common/styles/fonts";
@import "bux/common/styles/colors";

.downloadQuoteSection {
  .bux-font-h300;
  font-weight: normal;
  background-color: @ak-color-N20;
  padding: 16px;
  margin: 20px auto;
}
