.makeInline {
  > div {
    display: inline;
  }
}

.inlineTooltip {
  z-index: 800;
  pointer-events: none;
  position: fixed;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: content-box; /* do not set this to border-box or it will break the overflow handling */
  color: #333;
  max-height: 300px;
  max-width: 300px;
  padding: 8px 12px;
}
