@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

.productPrice {
  flex-grow: 0;
  flex-basis: 35%;
  padding-left: 20px;
  margin-top: 16px;
  border-left: 1px solid @ak-color-N40;
  .getStartedLabel {
    font-weight: 500;
    color: @ak-color-N100;
    margin-top: 0px;
  }
  .priceLabel {
    font-weight: 500;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 0px;
  }
  a {
    font-weight: 500;
    margin-top: 16px;
    display: block;
  }
}
