.loading{
  text-align: center;
  margin: auto;
}

.component {

}

.page {
  margin-top:5em;
}

.page .text{
  display: block;
  font-size: 22px;
}

.spinner {
  text-align: center;
  margin: auto;
}

.text {
  padding-left: 5px;
}