
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding-right: 16px;
  flex-shrink: 0;
}
