@import "bux/common/styles/fonts";
@import "bux/common/styles/colors";

.address {
  font-size: 1em;
  color: @ak-color-N800;
}

.creditCard {
  margin: 20px 0;
  position: relative;
  width: 100%;
  min-height: 277px;
  > div {
    box-sizing: border-box;
    width: 100%;
    height: 277px;
  }
}

.adviseCharge {
  .flowAdviseText;
  color: @ak-color-N500;
}

.agreement {
  margin-top: 24px;
  label {
    color: @ak-color-N200;
  }
}

.paypal {
  margin: 20px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
