.messageBox {
  background: #ddebfe;
  border: #BFDDFD 1px solid;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 15px;
  
  &.warnBox {
    background: #FFFAE7;
    border: #FFF6D6 1px solid;
  }
  
  h3 {
    font-size: 14px;
    font-weight: bold;
    color: #374B63;
  }

  p {
    color: #1C3452;
  }
}