.labelContainer {
  label {
    display: flex;
    align-items: center;
    > div:last-child {
      padding: 17px 0px 4px 0px;
      height: 16px;
    }
  }
}

.mobileInvalidField {
  transition-property: height;
  transition-duration: 300ms;

  overflow: hidden;

  margin: 8px 8px;

  color: rgb(222, 53, 11);
}

.mobileInvalidFieldInvisible {
  margin: 0 8px;
  height: 0;
}

.mobileMessageFieldHolder {
  position: relative;
}

.mobileMessageField {
  transition-property: opacity, transform;
  transition-duration: 300ms;

  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 8px;

  padding: 8px;

  background-color: #FFF;

  opacity: 1;
  transform: translateY(0);

  box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
  border-radius: 3px;
}

.mobileMessageFieldInvisible {
  opacity: 0;
  transform: translateY(-16px);
}
