@import "bux/common/styles/colors";
@import "bux/common/styles/layout";

.card {
  margin-top: 20px;
  position: relative;

  @media (min-width:@tablet) {
    width: 330px;
  }
}

.panel {
  background-color: @ak-color-N10;

  padding: 36px;
  border-radius: 3px;
}
