<script src="https://ace-cdn.atlassian.com/stp/current/analytics/js/atl-analytics.min.js"></script>
<script type="text/javascript">
  if (window.ace) {
    ace.analytics.Initializer.initWithPageAnalytics('mwE6BaX3gwkIBh4E1OYZ7aaK8YjieEEm');
  }
</script>