<script src="https://ace-cdn.atlassian.com/stp/current/analytics/js/atl-analytics.min.js"></script> 
<script type="text/javascript">
  if (window.ace) {
    ace.analytics.Initializer.initWithPageAnalytics('jHs8Lg0j6JV5Hh1KjnTQqsfekwWAbd9L');
  }
</script>