@import '@atlaskit/util-shared-styles/src/colors.less';

.group {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;

  transition-property: transform, opacity;
  transition-duration: 300ms;

  transform: translateX(-100%);
  opacity: 0;
}

.wrapperVisible {
  transform: translateX(0);
  opacity: 1;
}

.wrapperExiting {
  transform: translateX(100%);
  opacity: 0;
}

div {
  .error {
    & > * {
      background-color: @ak-color-R400;
    }
    & * {
      color: @ak-color-N0;
    }
  }

  .info {
    & > * {
      background-color: @ak-color-N500;
    }
    & * {
      color: @ak-color-N0;
    }
  }

  .normal {
  }

  .success {
    & > * {
      background-color: @ak-color-G400;
    }
    & * {
      color: @ak-color-N0;
    }
  }

  .warning {
    & > * {
      background-color: @ak-color-Y200;
    }
    & * {
      color: @ak-color-N700;
    }
  }
}
