@import "bux/common/styles/layout";
@import "bux/common/styles/fonts";

.subroot {
  .ak-block-soft;
  min-height: 115px;
  position: relative;
}

.title {
  .sidebarTitle;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: @line-height;
}

.content {
  display: flex;
  align-items: center;
}

.icon {
  width: 100px;
}
