@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";

.card {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  .logo {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .heading {
    .bux-font-h400;
    > span[role="img"] {
      color: @ak-color-G300;
    }
  }

  .email {
    .bux-font-h500;
    font-weight: normal;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 355px;
  }
}
