@import "bux/common/styles/colors";

.legalLabel {
  font-size: 0.8571428571428571em;
  margin: 16px 0 0 0;
  display: block;
}

.legalVisaLabel {
  font-size: 0.8571428571428571em;
  color: @ak-color-N50;
  margin: 16px 0 0 0;
  display: block;
}
