@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

.card {
  display: flex;
  background-color: @ak-color-N0;
  border: 1px solid #DEE1E6;
  border-radius: 8px;
  padding: 16px;

  @media (min-width:@tablet) {
    display: inline-flex;
  }
}
