@import "bux/common/styles/fonts";
@import "bux/common/styles/colors";

.address {
  font-size: 1em;
  color: @ak-color-N800;
}

.editText {
  margin-top: 6px;
  font-size: 12px;
  color: @ak-color-N200;
}
