@import '@atlaskit/util-shared-styles/src/grid.less';
@import "bux/common/styles/layout";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

@margin: unit(@ak-grid-size-unitless * 3.0, px);

.container {
  .add-medium-vertical-spacing;

  .productList {
    .add-max-vertical-spacing;
    border-bottom: 2px solid @ak-color-N30;
    padding: 0;
    padding-bottom: @margin;
    margin-bottom: @margin;
    &.compact {
      border-bottom: 1px solid @ak-color-N30;
      padding-bottom: 8px;
      margin-bottom: 12px;
      >.productLine {
        margin-top: 8px;
      }
    }
  }

  margin-top: @margin
}

.productLine {
  width: 100%;
  display: flex;

  .bux-font-h500;
  color: @ak-color-N800;

  .description {
    flex-grow: 4;
  }

  .productName {
    .bux-font-h600;
    font-weight: 500;
    &.compact {
      margin-left: 14px;
      font-size: 14px;
    }
  }

  .productPrice {
    .bux-font-h500;
    font-weight: 400;
    &.compact {
      font-size: 14px;
    }
  }

  .productUsage {
    .bux-font-h300;
    font-weight: normal;
    color: @ak-color-N500;
    line-height: 2em;
    margin-left: 14px;
    &.compact {
      font-size: 12px;
    }
  }

  .lozenge {
    margin-left: 1em;
    display: inline-block;
  }

}

.summary {
  .add-medium-vertical-spacing;
  padding: 0;
  list-style: none;

  &.compact {
    margin-top: 0px;
  }

  > li {
    width: 100%;
    display: flex;
  }

  .total {
    > * {
      .bux-font-h700;
    }

    &.compact {
      margin-top: 6px;
    }

    color: @ak-color-N800;
    font-weight: 600;
    :global .currency-label {
      font-weight: normal;
      font-size: 0.8em;
    }

    .totalDescription {
      flex-grow: 4;
      &.compact {
        font-size: 14px;
      }
    }

    .totalPrice {
      &.compact {
        font-size: 16px;
      }
    }
  }

  .tax {
    color: @ak-color-N800;

    > * {
      .bux-font-h500;
    }

    :global .currency-label {
      font-weight: normal;
      font-size: 0.8em;
    }

    .taxTotalDescription {
      flex-grow: 4;
      :global span {
        font-size: 0.9em;
      }
      &.compact {
        font-size: 12px;
        font-weight: normal;
      }
    }

    .taxTotalPrice {
      &.compact {
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
}
