@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

.productItem {
  list-style: none;
  background-color: @ak-color-N20;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 24px;
  .productCard {
    background-color: #FFF;
    padding: 16px 16px 24px 16px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px @ak-color-N50;
    .productInfoBlock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
    }
    .productTitleBlock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
      margin-bottom: 16px;

      align-items: flex-start;

      @media (min-width: @tablet) {
        align-items: center;
      }

      .productTitle {
        display: inline-block;
        align-items: center;
        flex-shrink: 1;
        flex-grow: 0;
        overflow: hidden;
        margin-right: 16px;
      }
      .productFamily {
        flex-shrink: 0;
        flex-grow: 1;
        margin-right: 16px;
      }
      button {
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
}
