@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

.informationLine {
  :global .label {
    .adg-typography-h300;
    display: block;
    font-weight: normal;
    text-transform: none;
  }

  :global .label:first-letter {
    text-transform: uppercase;
  }

  // This hack moves the info svg icon to the other side, because Design :shrug:
  span > div > div > div > div > button > span > span > div {
    flex-direction: row-reverse;
  }
}

.buttons {
  display: flex;

  > button {
    min-width: 128px;
  }

  > div {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    margin-left: 1px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 100%;
  background-color: #00B8D9;
  position: relative;

  color: #FFF;

  margin-top: -15px;
}

//grids
.logoBlock {
  text-align: left;
}

.actionButton {
  text-align: right;
}

.lozenge {
  text-transform: uppercase;

  > * {
    margin-right: 0.5em;
  }
}

.downgradeLozenge {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1em;
  display: block;
}


.usageLine{
  display: flex;
  align-items: center;
}
