@import '@atlaskit/util-shared-styles/src/colors.less';

.input {
  margin: -9px -7px;
  padding: 9px 7px;
  cursor: pointer;
}

.hightlighted {
  background: @ak-color-N20;
}

.menu {
  padding: 2px 0;
  font-size: 90%;
  position: fixed;
  z-index: 1;
  overflow: auto;
  max-height: 50%;
  margin-left: -7px;
  margin-top: 16px;
  background-color: #FFF;

  :global .ak-field-text{
    background-color: #FFF;
  }
}
