@import "bux/common/styles/layout";

.grid {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 40px);

  @media (min-width: @tablet) {
    flex-direction: row;
    width: 100%;
  }
}

.content {
  @media (min-width: @tablet) {
    width: 600px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.aside {
  margin-top: 20px;
  @media (min-width: @tablet) {
    margin-top: 0px;
    margin-left: 40px;
    width: 280px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}
