@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

.noticeRow {
  margin-bottom: 20px;
}

.subscriptionsList {
  background-color: @ak-color-N20;
  padding: 16px;
  border-radius: 5px;
  flex: 2;
  display: flex;
  flex-direction: column;

  margin-bottom: 32px;

  /** forcing specificity of this rule. App.less/h2 override it*/
  .sectionLabel {
    .adg-typography-h300;
    margin-top: -9px;
    margin-bottom: 6px;
  }

  /** forcing specificity of this rule. AUI override it*/
  .productDescription {
    margin: 16px 0;
  }
}

.cancelMySite {
  margin-left: auto;
  color: @ak-color-B400;
  line-height: 0px;
  margin-top: 14px;
}

.resubscribe {
  margin-left: auto;
  margin-top: 16px;
}

.productList {
  margin: 0;
  padding: 0;
  list-style: none;

  .add-medium-vertical-spacing;
}

.finePrint {
  .bux-font-h300;
  margin-top: 20px;
  margin-bottom: 32px;
}

.finePrint:before{
  content: "*";
}
