@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

.scheduledUpgrade {
  flex-grow: 0;
  flex-basis: 30%;
  padding-left: 20px;
  font-size: 12px;
  margin-top: 16px;
  border-left: 1px solid @ak-color-N40;
  strong {
    font-size: 14px;
  }
}
