.base {
  padding: 0;
}

.short {
  /* !ADG style */
  width: 75px;
}

.medium {
  width: 240px;
}

.wide {
  width: 100%;
}
/* Fix @atlaskit/input bug not setting the font-size correctly */
.input-font-size {
  font-size: 14px;
}

.base-adg {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: 14px;
  outline: none;
}

.adgInput {
  .base-adg;
  height: 20px;
}
