@import "bux/common/styles/colors";

.footnoteIndicator {
  &:before {
    content: '*'
  }
}

.footnote {
  font-size: 12px;
  margin-top: 0;
  color: @ak-color-N200;
  &:before {
    content: '*'
  }
}
