@import "bux/common/styles/fonts";
@import "bux/common/styles/colors";

.address {
  font-size: 1em;
  color: @ak-color-N800;
}

.paymentMethodCard {
  display: block;
}

.informText {
  font-size: 12px;
  font-weight: normal;
  color: @ak-color-N200;
  margin-top: 6px;
}

.editText {
  margin-top: 6px;
  font-size: 12px;
  color: @ak-color-N200;
}

.agreement {
  margin-top: 24px;
  label {
    color: @ak-color-N200;
  }
}

.loading {
  margin-top: 40px;
}

.paymentOption {
  margin-top: 20px;
  label {
    margin-left: -5px;
    margin-bottom: 6px;
    display: block;
  }
}
