@import "bux/common/styles/fonts";

.page {
  max-width: 406px;
  margin: 32px auto;

  h2 {
    color: @ak-color-N800;
    margin-bottom: 32px;
  }
}

.footerNotes {
  font-size: 11px;
  color: @ak-color-N200;
  border-top: 1px solid @ak-color-N30;
  padding-top: 16px;
  margin-top: 16px;
}

.footerNotesHighlighted {
  font-size: 12px;
  font-weight: 600;
  margin-top: 16px;
}
