@import '@atlaskit/util-shared-styles/src/grid.less';

.base-adg {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: 14px;
  outline: none;
}

:global select {
  .base-adg;
  height: 20px;
}

:global .adg-input {
  .base-adg;
  height: 20px;
}


.fixtures {
  :global h2 {
    margin-top: unit(@ak-grid-size-unitless * 2.0, px);
  }
}
