@import '@atlaskit/util-shared-styles/src/colors.less';

@detailColor: #707070;
@successColor: #8eb021;

@atlassian-blue: #3572b0;
@atlassian-green: #14892c;
@atlassian-dark-green: #137027;


@ak-color-border-soft: rgba(8, 30, 66, 0.08);

@ak-color-border: @ak-color-N50;
