@import '@atlaskit/util-shared-styles/src/mixins/headings.less';
@import "./colors";

.pageTitle {
  .adg-typography-h800;
  color: @ak-color-N800;
  text-align: left;
  margin-top: 32px;
}

.sidebarTitle {
  .adg-typography-h500;
  color: @ak-color-N800;
  font-weight: 600;
}

.subtext {
  font-size: 12px;
  color: @detailColor;
}

.flowAdviseText {
  font-size: 12px;
  color: @ak-color-N200;
}
.flowAdviseTextSecondary {
  font-size: 12px;
  color: @ak-color-N200;
  text-align: right;
}

// There is no normal way to use "ADG3" font, and there is no will be.
.bux-font-reset {
  margin: 0;
  text-transform: none;
}

.bux-font(@ak-font) {
  @ak-font();
  .bux-font-reset
}

.bux-font-h200 {
  .bux-font({ .adg-typography-h200() });
}

.bux-font-h300 {
  .bux-font({ .adg-typography-h300() });
}

.bux-font-h400 {
  .bux-font({ .adg-typography-h400() });
}

.bux-font-h500 {
  .bux-font({ .adg-typography-h500() });
}

.bux-font-h600 {
  .bux-font({ .adg-typography-h600() });
}

.bux-font-h700 {
  .bux-font({ .adg-typography-h700() });
}

.bux-font-h800 {
  .bux-font({ .adg-typography-h800() });
}
