@import "./breakpoints";
@import "./spacing";
@import "./colors";
@import '@atlaskit/util-shared-styles/src/fonts.less';

.page {
  font-family: @ak-font-family;
  font-size: 14px;
  position: relative;
}

.layout-container {
  height: fit-content;
  width: fit-content;
}

.layout-body {
  width: fit-content;
  min-width: 300px;
  max-width:100%;

  @media (min-width: @tablet) {
    min-width: @tablet;
  }
}

.ak-block(@color) {
  background-color: #FFF;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px @color, 0px 2px 5px 1px @color;

  :global hr {
    border: none;
    border-top: 1px solid @color;
  }
}

.ak-block-border {
  .ak-block(#000);
  box-shadow: 0 0 0 1px @ak-color-border-soft;
}

.ak-block-soft {
  .ak-block(@ak-color-border-soft);
}

.ak-block-standard {
  .ak-block(@ak-color-border);
}

.ak-grid {
  display: flex;
  flex-flow: row wrap;
}

.ak-line {
  display: flex;
  flex: 1 100%;
  flex-flow: row wrap;
}

.mediumCol {
  width: auto;

  @media (min-width:@tablet) {
    width: 400px;
  }
}
