@import '@atlaskit/util-shared-styles/src/grid.less';

.add-medium-vertical-spacing {
  & > * + * {
    margin-top: unit(@ak-grid-size-unitless * 2.0, px)
  }
}

.add-big-vertical-spacing {
  & > * + * {
    margin-top: unit(@ak-grid-size-unitless * 3.0, px)
  }
}

.add-max-vertical-spacing {
  & > * + * {
    margin-top: unit(@ak-grid-size-unitless * 4.0, px)
  }
}

.add-small-vertical-spacing {
  & > * + * {
    margin-top: unit(@ak-grid-size-unitless, px)
  }
}
