@import "bux/common/styles/fonts.less";

.row {
  display: flex;
}

.row > span {
  flex: 1;
  border-bottom: 1px solid #ccc;
  height: 48px;
  line-height: 48px;
}

.row .caption,
.row .feature {
  flex: 2;
}

.caption {
  .bux-font-h600;
}

.product {
  font-weight: bold;
}

.feature {
  flex: 2;
}

.option {

}

.supportedIcon {
  margin-top: 5px;
  color: @ak-color-B100;
}
