@import "bux/common/styles/fonts";

.billingEmail{
  overflow: hidden;
  text-overflow: ellipsis;;
}

.email {
  width: 100%;
  display: block;
  white-space: nowrap;
  .billingEmail
}

.mylink {
  font-size: 12px;
  margin-left:8px;
}

.form > div:not(:first-child) {
  margin-top: 1.5em;
}

.widgetLabel {
  .bux-font-h200;
  color: @ak-color-N200;
  display: block;
  margin-bottom: 0.5em;
}
