@import '@atlaskit/util-shared-styles/src/grid.less';
@import "bux/common/styles/layout";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

.aside {
  .ak-block-soft;

  .title {
    .sidebarTitle;
    margin-top: 0;
    line-height: @line-height;
  }

  .sideLinks {
    list-style: none;
    padding: 0;
    line-height: 1.5em;
  }

}
