@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

@line-height: 3em;

.line-item-container {
  display: flex;
  justify-content: space-between;
  .bux-font-h400;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  .sidebarTitle;
  margin-top: 0;
  line-height: @line-height;
}

.priceDates {
  color: @ak-color-N70;
  display: flex;
  white-space: nowrap;
}

.finePrint {
  .subtext;
}

.container {

  .lineItem {
    .line-item-container;
    margin: 22px 0;

    color: @ak-color-N800;
    :global .product-description {
      font-weight: 500;
      transition: max-width 1000ms ease 0s;
      flex-shrink: 1;
    }

    :global .product-price {
      white-space: nowrap;
      flex-shrink: 0;
    }

    line-height: 1.6em;

    a {
      cursor: pointer;
      color: @ak-color-B400;
    }
  }

  .products {
    color: @detailColor;
    letter-spacing: 0;

    ul {
      padding: 0;
      margin: 0;
      margin-top: 1em;
      margin-bottom: 1em;
      list-style-type: none;
    }
  }

  .tax, .total {
    .line-item-container;

    .bux-font-h300;

    line-height: @line-height;

    color: @ak-color-N70;

    :global .total-tax {
      color: @ak-color-N400;
    }
  }

  .totalPrice {
    .bux-font-h600;
    line-height: inherit;
    color: @ak-color-N700;

    :global .currency-label {
      font-size: 0.6em;
      padding-left: 2px;
    }
  }

  .finePrint,
  .finePrint a {
    .bux-font-h400;
    color: @ak-color-B400;
  }
}
