@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

.subscriptionItem {
  background-color: #FFF;
  padding: 16px 16px 24px 16px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px @ak-color-N50;
}

.ak-label {
  .adg-typography-h300;
  display: block;
  font-weight: normal;
}

.informationLine {
  :global .label {
    .ak-label;
    text-transform: none;
  }

  :global .label:first-letter {
    text-transform: uppercase;
  }

  :global .payload {
    .adg-typography-h400;
    font-weight: normal;
    display: flex;
    line-height: 25px;
    align-items: end;

    &.withIcon {
      margin-top: 11px;
      margin-left: -4px;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block30 {
  /* to fix "manage users with price estimate */
  width: 153px;
}

.usageLine,
.billingInfo,
.billingDate {
  .informationLine;
}

.logoBlock {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  max-width: 100%;
  width: 100%;

  @media (min-width:@tablet) {
    flex-direction: row;

    align-items: center;
  }

  > * {
    display: inline-block;
    margin-bottom: 8px;

    @media (min-width:@tablet) {
      margin-bottom: 0px;
    }
  }

  h2 {
    position: relative;
    top: -14px;
    margin-left: 16px;
  }
}

.logoBlockLogo {
  flex-shrink: 1;
  flex-grow: 0;
  overflow: hidden;
}

.logoBlockLozenges {
  flex-shrink: 0;
  flex-grow: 1;
  white-space: nowrap;

  @media (min-width:@tablet) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.logoBlockActionButtons {
  flex-grow: 0;
  flex-shrink: 0;
}

.productDescription {
  margin: 16px 0;
  width: 100%;
}

.logoBlock {
  text-align: left;
}

.productItem {
  list-style: none;
  background-color: @ak-color-N20;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 24px;
  .productCard {
    background-color: #FFF;
    padding: 16px 16px 24px 16px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px @ak-color-N50;
    .productInfoBlock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
    }
    .productTitleBlock {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
      margin-bottom: 16px;

      align-items: flex-start;

      @media (min-width: @tablet) {
        align-items: center;
      }

      .productTitle {
        display: inline-block;
        align-items: center;
        flex-shrink: 1;
        flex-grow: 0;
        overflow: hidden;
        margin-right: 16px;
      }
      .productFamily {
        flex-shrink: 0;
        flex-grow: 1;
        margin-right: 16px;
      }
      
      button {
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
  .noticeRow {
    margin-top: 20px;
  }
  .discoverApplicationsLink {
    button {
      width: 100%;
      height: 40px;
      justify-content: center;
    }
  }
}
