.NoBillsPage {
  margin: auto;
  text-align: center;
  > svg {
    display: block;
    margin: auto;
    width: 50px;
    height: 34px;
    margin-top: 0em;
    margin-bottom: 1em;
  }
}

.invoices {
  width: 100%;
  display: block;

  ul {
    margin: 0;
    padding: 0;
    :global(.money--cents) {
      text-align: left;
      white-space: nowrap;
      width: 1.6em;
      display: inline-block;
    }
  }
}

.invoiceLine {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.amount {
  text-align: right;
}

.link {
  margin-top: 16px;
  display: inline-block;
}
