@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";

.invoiceList {
  margin-top: 20px;

  &:last-child {
    border-bottom: 1px solid;
    border-bottom-color: @ak-color-N50;
  }

  > tbody {
    border: none;
  }
}

.invoiceHeader {
  border-bottom: 1px solid;
  border-bottom-color: @ak-color-N50;
  color: @ak-color-N100;
  .bux-font-h400;
  padding-bottom: 5px;
}

.invoiceLine, .invoiceHeader {
  margin-bottom: 10px;

  td, th {
    padding: 8px;
  }

  .amountCell {
    text-align: right;
  }

  td:last-child,
  th:last-child {
    text-align: right;
  }

  :global(.money--cents) {
    text-align: left;
    white-space: nowrap;
    width: 1.6em;
    display: inline-block;
  }
}
