<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BUX - Scenarios</title>
  <link rel="stylesheet" href="/adg3/css-reset/bundle.css" />
  <link rel="stylesheet" href="/adg3/reduced-ui-pack/bundle.css" />

  <style>
    body { background-color: #EFEFEF; }
    h1 { padding-top: 20px; margin-bottom: 20px; }
    .page { background-color: #FFF; padding: 20px 40px 40px; margin: 40px 0; }
    div.groups > fieldset { margin-bottom: 20px; }
    div.groups > fieldset > legend { font-size: 16px; font-weight: 600; margin-bottom: 6px; }
    .toggle-row { display: flex; margin-bottom: 6px; }
    .toggle-label { font-size: 16px; font-weight: 400; display: inline-block; margin-left: 6px; cursor: pointer; }
    .actions { margin-top: 40px; }
  </style>
</head>
<body>

  <ak-grid is>
    <ak-grid-column is size="12">

      <div class="page">
        <h1>BUX Scenarios</h1>
        <form method="POST">

          <div class="groups">

            <fieldset>
              <legend>Feature flags</legend>
              <% Object.keys(featureFlags).forEach(function (featureFlag) { %>
              <div class="toggle-row">
                <div class="ak-field-toggle ak-field-toggle__size-default">
                  <input type="checkbox"
                         name="featureFlags[<%= featureFlag %>]"
                         id="featureFlags_<%= featureFlag %>"
                         value="true"
                         onchange="saveAll(event)"
                    <%= (featureFlags[featureFlag] && 'checked') %>>
                  <label for="featureFlags_<%= featureFlag %>"><%= featureFlag %></label>
                </div>
                <div class="toggle-label" onclick="setToggle('featureFlags_<%= featureFlag %>')"><%= featureFlag %></div>
              </div>
              <% }); %>
            </fieldset>

            <% groups.forEach(function (group) { %>
              <%- include('scenario-group', { group }); %>
            <% }) %>

          </div>

          <div class="ak-field-group">
            <label for="delay">Delay (milis)</label>
            <input
              type="number"
              class="ak-field-number ak-field__width-small"
              maxLength="4"
              id="delay"
              name="delay"
              placeholder="milis"
              min="0"
              value="<%= delay %>"
              onblur="saveAll(event)"
            />
          </div>

          <div class="actions">
            <button type="button" class="ak-button ak-button__appearance-default" onclick="resetAll(event)">Reset mock states</button>
          </div>

        </form>
      </div>
    </ak-grid-column>
  </ak-grid>

  <script>
    function resetAll(e) {
      e.preventDefault();
      fetch('/scenarios', { method: 'delete' }).then(() => {
        location.reload();
      });
      return false;
    }

    function saveAll() {
      document.querySelector('form').submit();
    }

    function setToggle(name) {
      let input = document.querySelector(`#${name}`);
      if (input) {
        input.checked = !input.checked;
        saveAll();
      }
    }
  </script>
</body>
</html>
