<fieldset>
  <legend><%= group %></legend>
  <% scenarios.forEach(function (scenario) { %>
  <% if (group === scenario.group) { %>
    <div class="toggle-row">
      <div class="ak-field-toggle ak-field-toggle__size-default">
        <input type="checkbox"
               name="scenarios[<%= scenario.slug %>]"
               id="scenarios_<%= scenario.slug %>"
               value="1"
               onchange="saveAll(event)"
          <%= (selectedScenarios.includes(scenario.slug) && 'checked') %>>
        <label for="scenarios_<%= scenario.slug %>"><%= scenario.name %></label>
      </div>
      <div class="toggle-label" onclick="setToggle('scenarios_<%= scenario.slug %>')"><%= scenario.name %></div>
    </div>
  <% }}); %>
</fieldset>
