@import "bux/common/styles/colors";
@import "bux/common/styles/layout";

.narrow {
  margin: auto;
  margin-top: 32px;

  @media (min-width: @tablet) {
    width: 470px;
  }
}

.step {
  @media (min-width: @tablet) {
    padding: 40px 28px;
  }
  h2 {
    margin-bottom: 8px;
  }
}
