@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";

.page {
  max-width: 406px;
  margin: 32px auto;

  h2 {
    color: @ak-color-N800;
    margin-bottom: 32px;
  }
}
.paymentMethod {
  margin: 0 0 32px 0;
}

.actionButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 32px 0 0 0;

  button {
      margin: 0 4px;
  }
}

.section {
  margin-top: 40px;
  > .heading {
    font-size: 1em;
    font-weight: 600;
    margin-top: 24px;
  }
}

.paypal {
  margin: 20px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creditCard {
  margin: 20px 0 40px;
}
