@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";

.option {
  justify-content: flex-start;
  margin-bottom: 0.5em;
}

.nested {
  margin: 1em 0 1em 32px;

  p {
    margin: 0;
    margin-bottom: 1em;
  }
}

.survey {
  fieldset {
    padding: 8px 0 0 0;
  }
  textarea {
    width: 328px;
    resize: none;
  }

  label {
    display: flex;
  }

  label > span {
    margin-left: 0.15em;
    margin-top: -1px;
  }
}

.actionButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 0;

  button {
    margin: 0 4px;
  }
}
