@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";

.paymentDetailsPrompt {
  display: flex;
  flex-direction: column;

  .promptImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .mainMessage {
    .bux-font-h700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 15px;
    color: @ak-color-N700;
  }

  .subMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    color: @ak-color-N700;
    font-size: 12pt;
  }

  .promptActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    button {
      background-color: @ak-color-G300;

      &:hover {
        background-color: @ak-color-G400;
      }
    }

  }

}
