.separator {
  margin: 40px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.separator::after, .separator::before {
  content: "";
  background-color: black;
  width: 35px;
  height: 1px;
  position: relative;
  margin: 0 1em;
}


