@import "bux/common/styles/fonts";
@import "bux/common/styles/colors";

.planSelection {
  >div {
    position: relative;
    left: -50%;
  }
}

.paymentOption {
  margin-bottom: 20px;
  label {
    font-weight: 500;
  }
  p {
    margin: 0px;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
