<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BUX Edge Proxy - Login</title>
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.4/css/aui.min.css">
</head>
<body class="aui-page-focused aui-page-size-medium">
<div id="page">
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <h2>BUX Edge Proxy</h2>
        <form method="POST" class="aui">
          <fieldset class="field-group">
            <label for="serviceUrl">
              BUX Service URL
              <span class="aui-icon icon-required"> required</span>
            </label>
            <input id="serviceUrl" name="serviceUrl" class="text" value="<%= serviceUrl %>" />
            <div class="description">
              Examples (click each one for easy copy/paste!):
              <ul>
                <li>http://localhost:3100/mock-bux</li>
                <li>https://api-private.stg.atlassian.com</li>
                <li>http://localhost:8080</li>
                <li>https://billing-ux-service.us-east-1.staging.atl-paas.net</li>
              </ul>
            </div>
          </fieldset>
          <fieldset class="field-group">
            <label for="cloudId">
              Cloud ID
              <span class="aui-icon icon-required"> required</span>
            </label>
            <input id="cloudId" name="cloudId" class="text long-field" value="<%= cloudId || '' %>" />
            <div class="description">e.g. e80be99d-56a4-48e6-b1cb-80d0c7ff74f1 (supernova)</div>
          </fieldset>
          <fieldset class="field-group">
            <label for="sessionToken">
              Session Token
              <span class="aui-icon icon-required"> required</span>
            </label>
            <input id="sessionToken" name="sessionToken" class="text long-field" value="<%= sessionToken || '' %>" />
            <div class="description">e.g. XXXX</div>
          </fieldset>
          <div class="buttons-container">
            <div class="buttons">
              <button type="submit" class="button submit">Login</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>


</div>
<script>
  ($ =>
      $('.description li')
        .forEach(el =>
          el.addEventListener('click', evt =>
            $('#serviceUrl')[0].value = evt.target.textContent
          )
        )
  )(document.querySelectorAll.bind(document));
</script>
</body>
</html>
