@import "bux/common/styles/colors";

.section {
  margin-top: 32px;
  >p {
    margin-top: 0px;
  }
  .heading {
    color: @ak-color-N800;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0px;
    padding-bottom: 2px;
    border-bottom: 1px solid @ak-color-N800;
    margin-bottom: 14px;
  }
  hr {
    border: .5px solid @ak-color-N500;
  }
  ul {
    margin: 10px 0 0 0;
    padding: 0px;
    list-style: none;
    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 44px;
  button:last-child {
    margin-left: 4px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;

  text-align: center;

  .heading {
    font-size: 1.5em;
    color: @ak-color-N800;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .support {
    font-size: 16px;
  }
}
