@import "bux/common/styles/layout";

.noticesRow {
  margin-bottom: 20px;
}

.widgetsRow {
  display: flex;
  flex-direction: column;

  @media (min-width:@tablet) {
    min-width: 920px;
    min-height: 200px;
    flex-direction: row;
  }

  > .widget {
    margin-bottom: 20px;

    @media (min-width:@tablet) {
      width: 50%;
      overflow: hidden;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
