
.hero {
  flex: 1;
  margin-right: 32px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jsdHero {
  width: 250px;
  height: 150px;
}

.panelOuter {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  max-width: 920px;
  border-radius: 5px;
  background-color: #f4f5f7;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.panelInner {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 32px 32px 16px 32px;
  box-sizing: border-box;
}

.rightContainer {
  width: 397px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -6px;
}


.productTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
}

.productProposition {
  font-size: 14px;
  line-height: 21px;
  color: #172b4d;
  margin-bottom: 16px;
  width: 100%;
}