@import "bux/common/styles/layout";
@import "bux/common/styles/colors";

.billingCyclePanel {
  @media (min-width:@tablet) {
    width: 400px;
  }
}
.billingCycle {
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}
.info {
  margin-top: 18px;
  color: @ak-color-N500;
}
