@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";
@import "bux/common/styles/spacing";

.productDescription {
  flex-grow: 1;
  flex-basis: 65%;
  margin-top: 16px;
  padding-right: 20px;
  p {
    margin-top: 0px;
    margin-bottom: 16px;
  }
  p:last-child {
    margin-bottom: 0px;
  }
  a {
    font-weight: 500;
  }
  &.noBorder {
    border-right: none;
  }
}
