@import "bux/common/styles/colors";

div.well {
  text-align: center;
}

div.imageBlock {
  display: block;
  margin: 0 auto 15px;
}

p.label {
  color: @ak-color-N200;
  font-size: 12px;
  margin-top: 18px;
}
