@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";

.changeEditionsPage {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 800px;

  > h1 {
    margin-bottom: 32px;
  }

  .comparePlans > * {
    .bux-font-h600;
    text-align: center;
    margin: 2em auto;
    display: block;
  }

  .comparePlansActive {
    color: @ak-color-B500;
    cursor: pointer;
  }

  .comparePlans {
    color: @ak-color-N50;
  }
}

.editionsScroller {
  overflow-x: auto;

  > h1 {
    font-weight: 500;
    color: @ak-color-N700;
    text-align: center;
  }
}

.editionsSubScroller {
  display: flex;
  padding: 10px;
  margin: 40px auto auto;
}

.editionBlock {
  flex: 1;
  position: relative;
  text-align: center;
  padding: 0 8px;
  height: 354px;

  h2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    color: @ak-color-N700;
    height: 40px;
  }

  p {
    display: block;
  }

  .cost {
    font-size: 32px;
    font-weight: 500;
  }

  .free {
    color: @ak-color-G200;
  }

  .paid {
    color: @ak-color-B100;
  }

  .users {
    font-weight: 700;
  }

  .features {
    padding-top: 20px;
    line-height: 24px;
  }

  .changeButton {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }

  .button {
    min-width: 150px;
    display: inline;
  }

}

.editionBlock:not(:last-child) {
  border-right: 2px solid @ak-color-N30;
}
