@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;

  .errorLogo {
    width: 250px;
    height: 364px;
  }

  .description {
    max-width: 600px;
    text-align: center;

    .heading {
      font-size: 1.5em;
      color: @ak-color-N800;

      margin-top: 20px;
      margin-bottom: 20px;
    }

    .support {
      font-size: 16px;
    }
  }

  .errorActionButton{
    padding:20px;
    font-weight: bold;
    .bux-font-h500;

    button {
      background-color: @ak-color-B300;
      &:hover {
        background-color: @ak-color-B400;
      }
    }
  }
}
