@import "bux/common/styles/layout";
@import "bux/common/styles/colors";
@import "bux/common/styles/fonts";

.page {
    max-width: 360px;
    margin: 32px auto;

    h3 {
        color: @ak-color-N800;
    }

    p {
        margin: 16px 0 0 0;
    }
}

.confirm {
    text-transform: uppercase;
}
