@import "bux/common/styles/colors";

.billingCycle {
  display: block;
  .title {
    font-size: 11px;
    font-weight: 600;
    color: @ak-color-N300;
    margin-bottom: 4px;
  }
  margin-bottom: 16px;
}
