.logo {
  :global svg {
    height: 100%;
  }
}

@size-small: 20px;
@size-medium: 32px;
@size-large: 50px;
@size-xlarge: 100px;
@size-default: @size-small;

.size(@size) {
  @height: "size-@{size}";

  .@{size} {
    height: @@height;
  }
}

.productLogo {
  display: flex;
  height: 32px;
  svg {
    display: block;
    width: 32px;
    padding-right: 8px;
    flex-shrink: 0;
  }
  span {
    color: #000;
    font-size: 18px;
    line-height: 37px;
    height: 37px;
    font-weight: 500;
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    &.small {
      font-size: 14px;
    }
    &.medium {
      font-size: 16px;
    }
    &.big {
      font-size: 20px;
    }
  }
}

.size(small);
.size(medium);
.size(large);
.size(xlarge);